/*Бокова панель*/
    .navigation{
        background-color: rgb(230, 224, 224);
        width: 20%;
        margin: 0;
        padding: 0;
        min-height: 100%;
        list-style-type: none;
        position: absolute;    
        display: block;     
    }
    #active{
        background-color: #bada55;
    }
    .dropdown{
        position: relative;
        display: block;
    }
    .dropdown:hover .dropdown-content{
        display: inline-block;
        list-style-type: none;
    }
    .dropdown-content{
        display: none;
        z-index: 1;
        position: absolute;
    }
    #drop{
        background-color:#eeeeee;
        border:1px solid black;
    }
    ul li{
        padding: 20px;
    }
    li {
        border: 1px solid silver;
    }
    .dropdown-content1{
        display: none;
        z-index: 2;
        position: absolute;
    }
    .dropdown1:hover .dropdown-content1{
        display: inline-block;
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: black;
    }